.mobileMessage {
  display: none;
  padding: 24px;
  font-size: 1.2em;
  text-align: center;
}

.container {
}

@media (max-width: 600px) {
  .container {
    display: none;
  }

  .mobileMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
