<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DaasIoT</title>
</head>

<body cz-shortcut-listen="true">
    <textarea id="logs" rows="30" cols="100"></textarea>

    <script>
        let socket = new WebSocket('ws://<%= host %>:<%= port %>');

        socket.onopen = function (e) {
            console.log("[ws][open] Connessione stabilita");
            console.log("[ws] Invio al server");

            socket.send("Hello, world!");
        };

        socket.onmessage = function (event) {
            console.log(`[ws][message] Ricezione dati dal server: ${event.data}`);
            let ts = new Date().toISOString().substring(0, 19).replace('T', ' ');
            appendText(`[${ts}] ${event.data}\n`);
        };

        socket.onclose = function (event) {
            if (event.wasClean) {
                console.log(`[ws][close] Connessione chiusa con successo, code=${event.code} reason=${event.reason}`);
            } else {
                console.log('[ws][close] Connection morta.');
            }
        };

        socket.onerror = function (error) {
            console.log(`[ws][error] ${error.message}`);
        };

        function appendText(text) {
            let textAreaLogs = document.getElementById("logs");

            textAreaLogs.value += text;
            textAreaLogs.scrollTop = textAreaLogs.scrollHeight;
        }

    </script>

    <div>
        <!-- TODO: add callback -->
        <button onclick="">
             Check status
        </button>
    </div>
</body>

</html>
