/*
 * DaaS-nodejs 2024 (@) Sebyone Srl
 *
 * File: Dashboard.module.css
 *
 * This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
 * If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
 * This Source Code Form is "Incompatible With Secondary Licenses", as defined by the MPL v.2.0.
 *
 * Contributors:
 * francescopantusa98@gmail.com - initial implementation
 *
 */
.customStatistic :global(.ant-statistic-title) {
  display: flex;
  justify-content: center;
}

.mobileMessage {
  display: none;
  padding: 24px;
  font-size: 1.2em;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 24px;
}

@media (max-width: 600px) {
  .container {
    display: none;
  }

  .mobileMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
