/*
 * DaaS-nodejs 2024 (@) Sebyone Srl
 *
 * File: components.css
 *
 * This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
 * If a copy of the MPL was not distributed with this file, You can obtain one at https://mozilla.org/MPL/2.0/.
 * This Source Code Form is "Incompatible With Secondary Licenses", as defined by the MPL v.2.0.
 *
 * Contributors:
 * francescopantusa98@gmail.com - initial implementation
 *
 */
.div_form {
  width: 70%;
}

.flex-container.default {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  min-width: 0;
}

.flex-container.singleTable {
  width: 100%;
  margin-top: 50px;
  max-height: auto;
}

.flex-container.devices {
  width: 100%;
  margin-top: 50px;
  max-height: 500px;
}

.panel-content-list.default {
  transform: scale(0.85);
}

.panel-content-view.default {
  transform: scale(0.9);
}

.mobile-message {
  display: none;
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
}

.descriptions :global(.ant-descriptions-item-label) {
  background-color: #fafafa;
}

.descriptions :global(.ant-descriptions-item-content) {
  padding: 12px 24px;
}

/*@media (max-width: 600px) {
  .panel-content-view {
    display: none;
  }

  .panel-content-list {
    display: none;
  }

  .mobile-message {
    display: block;
  }
}

.title {
  font-size: 14px;
  font-weight: bold;
}

label {
  font-size: 5px;
}
*/
